body{
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    background-color: #4b2b4a;
    color: #ffffff;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: visible;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#particles{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#areacalcular {
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#formCalculoRank {
    z-index: 10;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 300px;
    padding: 20px;
}

#formCalculoRank label {
    margin-bottom: 5px;
}

#formCalculoRank input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    margin-bottom: 10px;
}

#formCalculoRank button {
    padding: 10px;
    background-color: #5c365a;
    font-family: "Lora", serif;
    font-weight: 600;
    color: #ffffff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

#resultadoRank {
    z-index: 10;
    margin-top: 20px;
    color: white;
    font-size: 20px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 90px;
}

.image-container img {
    margin: 20px;
    border-radius: 10px;
    max-width: 190px;
}
